body,html {
  margin: 0 ;
  padding: 0;
  scroll-behavior: smooth;
  
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {padding: 0px 0px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.404);
  padding: 16px;
  text-align: center;
  transition: 0.3s;
  background-color: #f1f1f1;
}
.card:hover {
  box-shadow: 4px 4px 4px 4px rgba(7, 27, 117, 0.459);
}

/* HOME ANIMATIONS*/
.anim{
  
  /* Clip Background Image */
  
  background: url(animatedx.png) repeat;
  
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Animate Background Image */
  
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s ease infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  
}
.stars, .twinkling,.twinkling2 {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:transparent url(stars2.png) repeat bottom;
  z-index:-2;
}

.twinkling{
  background:transparent url(stars2.png) repeat bottom    ;
  z-index:-2;

  -moz-animation:move-twink-back 200s ease infinite;
  -ms-animation:move-twink-back 200s ease infinite;
  -o-animation:move-twink-back 200s ease infinite;
  -webkit-animation:move-twink-back 200s ease infinite;
  animation:move-twink-back 200s ease infinite;
}
.twinkling2{
  background:transparent url(stars2.png) repeat ;
  z-index:-2;

  -moz-animation:move-twink-front 200s ease infinite;
  -ms-animation:move-twink-front 200s ease infinite;
  -o-animation:move-twink-front 200s ease infinite;
  -webkit-animation:move-twink-front 200s ease infinite;
  animation:move-twink-front 200s ease infinite;
}

/*TEXTS*/
.image-container {
  background-image: url('cp_background.jpg');
  height: 100%; 
  background-size: cover;
  position: relative;
  z-index:-3;
  
}
.custom
{
  background-image: url('cp_background.jpg');
  background-size: cover;
  position: relative;
}
.a{ font-family: anuratiregular;}


.text {
  background-color: rgba(0, 0, 0, 0.055);
  
  color: rgba(255, 255, 255, 0.959);
  font-size: 10vh; 
  font-weight: bold;
  width: 80%;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index:3;
}
.c{
  background-color: rgba(0, 0, 0, 0.055);
  color: rgba(255, 255, 255, 0.959);
  font-size: 600%; 
  font-weight: bold;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index:3;
}
.logo_containers
{
  background-color: rgba(0, 0, 0, 0.055);
  font-size: 600%; 
  font-weight: bold;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  z-index:3;
}
